<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            margin: 0;
        }
        .container {
            width: 100vw;
            height: 100vh;

            display: grid;

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

            gap: 10px;

            padding: 10px;
            box-sizing: border-box;
        }

        .container div {
            padding: 10px;
            border: 1px solid
        }
    </style>
</head>
<body>
    <div class ="container">
        <div class = "header">Header</div>
        <div class = "content-large">Content #1a</div>
        <div class = "content-large">Content #1b</div>
        <div class = "content-large">Content #1b</div>
        <div class = "content-large">Content #1b</div>
        <div class = "content-large">Content #1b</div>
        <div class = "content-large">Content #1b</div>
        <div class = "content-large">Content #1b</div>
    </div>
</div>
</body>
</html>